:root {
  --back: #ff6973;
  --panel: #00b9be;
  --text: #ffeecc;
  --alt: #ffb0a3;
  --edge: #46425e;
  --shadow: #15788c;
  --gap: 1em;
  --half-gap: calc(var(--gap) / 2.0);
  --border: 2px;
  --header-size: 3rem;
  --text-size: 1rem;
}

.theme-curious {
  --back: #ff6973;
  --panel: #00b9be;
  --text: #ffeecc;
  --alt: #ffb0a3;
  --edge: #46425e;
  --shadow: #15788c;
}

.theme-snail {
  --back: #323c39;
  --panel: #a3ad54;
  --text: #99e550;
  --alt: #7d5563;
  --edge: #917a46;
  --shadow: #524b24;
}

.theme-sky {
  --back: #79a5af;
  --panel: #557f8e;
  --text: #252a45;
  --alt: #3b4c5f;
  --edge: #557f8e;
  --shadow: #435c6a;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--back);
  overflow-x: hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: var(--text-size);
  font-weight: 500;
  text-shadow: 0.1rem 0.1rem 1.5px var(--shadow);
}

.header {
  display: block;
  text-align: center;
  color: var(--text);
  font-family: sans-serif;
  font-size: 8vmin;
  text-transform: full-width;
  text-decoration: overline;
  font-weight: 900;
  text-shadow: 0.2rem 0.2rem 0px var(--shadow);
  margin: 2rem 0;
}

section {
  display: grid;
  grid: auto-flow / 1fr;
  gap: var(--gap);
  background-color: var(--panel);
  color: var(--text);
  padding: var(--gap);
  border: var(--border) solid var(--shadow);
  margin: 0.5rem auto;
  max-width: min(90%, 40rem);
}

.nav {
  grid: 1fr / auto-flow;
}

article {
  overflow: hidden;
}

article > h1 {
  font-size: 2rem;
}

article:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 6px dashed var(--shadow);
}

a {
  color: var(--alt);
  font-weight: bold;
  text-shadow: none;
}

a:visited {
  color: var(--shadow);
}

a:hover {
  color: var(--text);
}

img {
  object-fit: contain;
  max-width: 100%;
}

pre {
  background-color: var(--shadow);
  color: var(--panel);
  padding: var(--gap);
  overflow-x: scroll;
}

br {
  margin-bottom: 0.5rem;
}

ul {
  display: grid;
  grid: auto-flow / repeat(3, 1fr);
  gap: var(--half-gap);
}

button {
  border: none;
  background-color: var(--alt);
  color: var(--edge);
  font-family: inherit;
  font-size: inherit;
  padding: var(--half-gap);
  box-shadow: 1px 1px 0px var(--shadow);
  transition: color 100ms, background-color 100ms, box-shadow 100ms;
}

button:hover {
  color: var(--shadow);
  background-color: var(--text);
  box-shadow: 3px 3px 0px var(--shadow);
}

button:active {
  box-shadow: -2px -2px 0px var(--shadow);
}
