:root {
  --background: #514e39;
  --foreground: #95ac71;
  --edge: #b7b399;
  --highlight: #b7b399;
  --lowlight: #948e69;
  --attention: #c88e55;
  --article-width: 45rem;
}

.theme-nature {
  --background: #514e39;
  --foreground: #95ac71;
  --edge: #b7b399;
  --highlight: #b7b399;
  --lowlight: #948e69;
  --attention: #c88e55;
}

.theme-blessing {
  --background: #74569b;
  --foreground: #96fbc7;
  --edge: #2b2821;
  --highlight: #ffb3cb;
  --lowlight: #d8bfd8;
  --attention: #f7ffae;
}

.theme-woodblock {
  --background: #5d7275;
  --foreground: #624c3c;
  --edge: #2b2821;
  --highlight: #b03a48;
  --lowlight: #624c3c;
  --attention: #e0c872;
}

body {
  background-color: var(--background);
  color: var(--highlight);
  overflow-x: hidden;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

h1 {
  font-family: sans-serif;
  text-transform: full-width;
  text-decoration: overline;
  font-weight: 900;
}

a {
  color: var(--foreground);
}

a:visited {
  color: var(--lowlight);
}

a:hover {
  color: var(--foreground);
}

article {
  padding: 1rem;
  line-height: 1.3;
  font-size: larger;
  max-width: var(--article-width);
}

article img {
  display: block;
  margin: 1rem;
  max-width: var(--article-width);
}

article pre {
  background-color: var(--lowlight);
  color: var(--background);
  padding: 1rem;
  overflow-x: scroll;
}

article br {
  margin-bottom: 0.5rem;
}

section {
  display: inline-flex;
  background-color: var(--foreground);
  color: var(--background);
  padding: 1rem;
  border: 2px solid var(--edge);
}

section button {
  margin: 4px;
}