:root {
  --background: #514e39;
  --foreground: #95ac71;
  --edge: #b7b399;
  --highlight: #b7b399;
  --lowlight: #948e69;
  --attention: #c88e55;
}

.theme-nature {
  --background: #514e39;
  --foreground: #95ac71;
  --edge: #b7b399;
  --highlight: #b7b399;
  --lowlight: #948e69;
  --attention: #c88e55;
}

.theme-blessing {
  --background: #74569b;
  --foreground: #96fbc7;
  --edge: #2b2821;
  --highlight: #ffb3cb;
  --lowlight: #d8bfd8;
  --attention: #f7ffae;
}

.theme-woodblock {
  --background: #5d7275;
  --foreground: #624c3c;
  --edge: #2b2821;
  --highlight: #b03a48;
  --lowlight: #624c3c;
  --attention: #e0c872;
}

body {
  background-color: var(--background);
  color: var(--highlight);
}

h1 {
  font-family: sans-serif;
  text-transform: full-width;
  text-decoration: overline;
  font-weight: 900;
}

section {
  background-color: var(--foreground);
  padding: 1rem;
  max-width: 10rem;
  border: 2px solid var(--edge);
}

.train {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--pos-x), var(--pos-y));
}

.train .stack {
  position: absolute;
  width: 40px;
  height: 20px;
  transform: rotate(var(--rotate));
}

.train .stack:nth-child(1) {
  top: -4px;
  background-color: var(--attention);
}

.train .stack:nth-child(2) {
  top: -8px;
  background-color: var(--foreground);
}

.train .stack:nth-child(3) {
  top: -12px;
  background-color: var(--attention);
}

.train .stack:nth-child(4) {
  top: -16px;
  width: 20px;
  height: 20px;
  background-color: var(--foreground);
  transform: translate(10px, 0px) rotate(var(--rotate)) translate(-10px, 0px);
}